replicaCount: 1
backend:
  repository: ghcr.io/joshzcold/famf-server
  pullPolicy: IfNotPresent
  tag: 1.1.1-joshua-test.2
  securityContext: {}
  resources: {}
  service:
    type: ClusterIP
    port: 8080
  volumeMounts: {}
  env: {}
frontend:
  repository: ghcr.io/joshzcold/famf-web
  pullPolicy: IfNotPresent
  tag: 1.1.1-joshua-test.2
  securityContext: {}
  service:
    type: ClusterIP
    port: 3000
  volumeMounts: {}
  env: {}
volumes: {}
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
podSecurityContext: {}
ingress:
  enabled: true
  className: ''
  annotations: {}
  hosts:
    - host: www.famf.app
    - host: famf.app
  tls: []
nodeSelector: {}
tolerations: []
affinity: {}
